.add-work-container{
    background-color: rgb(37, 37, 37);
    border-radius: 20px;
    box-shadow: 2px 2px 0px 0px rgb(26, 26, 26);
    width: 350px;
    height: 350px;
}
.section{
    margin: 10px;
}
.title{
    color: #56c9ff;
    margin: 5px;
}
.experience-submit-btn{
    width: 150px;
    height: 40px;
    background-color: rgb(41, 41, 41);
    color: #56c9ff;
    border-color: #56c9ff;
    font-size: 20px;
}
.experience-submit-btn:hover{
    background-color: #56c9ff;
    color: rgb(41, 41, 41);
    border-color: #56c9ff;

}
.label{
    color: azure;
}