.template-container{
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    width: 700px;
    height: 900px;
}
.template-left-part{
    background-color: rgb(230, 114, 36);
    width: 150px;
    height: 100%;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
}
.template-pic-container{
    width: 60%;
    height: 150px;
}
.profile-pic{
    height: 150px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 200px;
    margin: auto;
    margin-top: 20px;
    overflow: hidden;
}
.template-left-h1{

}
.template-left-p{

}
.template-right-part{

}
.template-right-part-name{

}
.template-right-part-title{

}
.template-h1{

}
.template-p{

}