.nav{
    position: sticky;
    top: 0;
    margin-bottom: 30px;
}
.nav-wrapper{
    background-color: #2e2c2c;
    display: flex;
    flex-direction: row;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px;
}
.nav-left{
    width: 15%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.nav-middle{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 70%;
}
.nav-right{
    width: 15%;
    display: flex;
    flex-direction: row;
}
.nav-right-item{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.nav-right-item-profile{
    display: block;
    margin: auto;
}
.btn-nav{
    background-color: #2e2c2c;
    width: 150px;
    height: 50px;
    color: #56c9ff;
    border-color: #56c9ff;
    border-radius: 25px;
    border-width: 3px;
    font-size: 25px;
    margin-left: 30px;
}
.btn-nav:hover{
    background-color: #56c9ff;
    color: #252525;
    border-color: #252525;
}
.unsign-btn-nav{
    margin: auto;
    background-color: #2e2c2c;
    width: 150px;
    height: 50px;
    color: #56c9ff;
    border-color: #56c9ff;
    border-radius: 25px;
    border-width: 3px;
    font-size: 25px;
}
.unsign-btn-nav:hover{
    background-color: #56c9ff;
    color: #252525;
    border-color: #252525;
}
.nav-search-bar{
    width: 90%;
    height: 45px;
    font-size: 20px;
    border-radius: 50px;
    text-align: center;
    border-style: none;
    background-color: #dadada;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    outline: none !important;
}
.nav-search-bar:focus{
    border-style: none;
}
.search-submit-btn{
    position: absolute;
    background-color: #2e2c2c;
    height: 50px;
    border-style: none;
    border-radius: 25px;
}

