.resume-template-container{
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
}
.resume-left-part{
    background-color: rgb(230, 114, 36);
    width: 150px;
    height: 100%;
    margin-left: 50px;
    padding-left: 20px;
    padding-right: 20px;

}
.resume-right-part{
    width: 60%;
    background-color: rgb(255, 255, 255);
    height: 100%;
    padding-left: 50px;
    padding-top: 50px;
}
.resume-right-part-name{
    font-size: 30px;
    color: rgb(51, 50, 104);
    font-weight: 600;
    margin-bottom: 0%;
    font-family: cursive;
}
.resume-right-part-title{
    font-size: 20px;
    font-family: cursive;
    color: rgb(230, 114, 36);
    font-weight: 400;
    margin-top: 0;
}
.resume-h1{
    font-size: 25px;
    font-weight: 500;
    color: rgb(230, 114, 36);
    margin-bottom: 0;
}
.resume-p{
    margin-top: 5px;
    color: rgb(51, 50, 104);
}
.profile-pic-container{
    height: 150px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 200px;
    margin: auto;
    margin-top: 20px;
    overflow: hidden;
}
.resume-left-h1{
    color: rgb(51, 50, 104);
    font-weight: 500;
    font-family: cursive;
}
.resume-left-p{
    color: aliceblue;
    font-family: cursive;
}
