.profile-wrapper{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    background-color: #222222;
}
.resume-preview-wrapper{
    display: flex;
    margin-top: 0%;
    margin-left: 15%;
    height: 900px;
    width: 70%;
}
.control-panel{
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}
.control-container{
    margin-bottom: 20px;
}
.left-conrols{
    display: flex;
    flex-direction: column;
    background-color: rgb(41, 41, 41);
    width: 20%;
    padding-top: 3%;
    box-shadow: 2px 2px 0px 0px rgb(26, 26, 26);
    border-top-right-radius: 25px;
}
.ctrl-btn{
    color: #56c9ff;
    border-color: #56c9ff;
    height: 5rem;
    background-color: rgb(41, 41, 41);
    margin-bottom: 2rem;
    font-size: 25px;
    font-family: "JetBrains Mono",monospace;
    margin: 5px;
}
