.profile-wrapper{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    background-color: #222222;
}
.resume-preview-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 0%;
    height: 900px;
    width: 60%;
}
.control-panel{
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}
.control-container{
    margin-bottom: 20px;
}

