
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  background: rgb(41, 41, 41);
  overflow: hidden;
}

.frame {
  width: 350px;
  overflow: hidden;
}

.box-container {
  display: flex;
}

.box {
  box-sizing: border-box;
  width: 350px;
  height: 350px;
  flex-shrink: 0;
  display: block;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
}

.button {
  background: #666;
  color: #fff;
  width: 50px;
  text-align: center;
  padding: 10px 20px;
  margin: 10px;
  user-select: none;
  cursor: pointer;
}

.button-2-container {
  display: flex;
}

.button-2 {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: #E0E0E0;
  margin: 6px;
  cursor: pointer;
}

.active {
  background: #56c9ff;
}