.template-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(223, 223, 223);
    width: 700px;
    min-height: 800px;
    margin-bottom: 20px;
}
.basic-template-header{
    display: flex;
    flex-direction: row;
    height: 100px;
    padding: 20px;
    border-color: rgb(255, 66, 66);
    border-bottom-width: 4px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
}
.basic-template-header-left{
    width: 60%;
    margin-left: 20px;
}
.basic-template-header-right{
    margin-left: auto;
}
.basic-template-experience-section{
    padding: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    height: 20%;
    border-color: rgb(212, 212, 212);
    border-bottom-width: 3px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
}
.basic-template-experience-left{
    width: 30%;

}
.basic-template-experience-right{
    width: 70%;
}
.skills-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-style: solid;
    height: 90%;
}
.skill-container-item{
    height: 30px;
    border-style: solid;
    border-color: aqua;
}
.template-data-fragment{
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 10px;
    
}
.template-data-fragment-title{
    margin-bottom: 0%;
    margin: 0%;
    padding: 0%;
    font-size: 20px;
}
.template-data-fragment-date{
    font-size: 12px;
    margin: 0%;
    padding: 0%;
}
.template-data-fragment-text{
    margin: 0%;
    padding: 0%;
    font-size: 16px;
}
h1{
    font-size: 20px;
    font-weight: 400;
    color: rgb(255, 66, 66);
}
p{
    font-size: 15px; 
}