
body{
  margin: 0%;
  padding: 0%;
  background-color: #222222;
  margin: 0%;
  padding: 0%;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(27, 27, 27);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(27, 27, 27);
}
h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


