.wrapper-content-login{
    padding: 200px;
}
.login-input{
    display: block;
    margin: auto;
    width: 20%;
    height: 60px;
    font-size: 25px;
    text-align: center;
    border-radius: 25px;
    border-width: 4px;
    border-color: rgb(107, 109, 255);
    margin-top: 20px;
}