.container{
    height: 200px;
}
.searchBar{
    width: 40%;
    height: 100px;
    border-radius: 25px;
    border-color: rgb(107, 109, 255);
    border-width: 4px;
    display: block;
    margin: auto;
    font-size: 38px;
    text-align: center;
}
.register-container{
    display: block;
    margin: auto;
    margin-top: 200px;
    text-align: center;
}
.registerEmailInput{
    width: 20%;
    height: 60px;
    font-size: 25px;
    text-align: center;
    border-radius: 25px;
    border-width: 4px;
    border-color: rgb(107, 109, 255);
}
.registerEmailInput:hover{
    width: 30%;
    background-color: #f7f7f7;
    transition:ease-in-out;
    transition-duration: 0.4s;
    transition-delay: 0.1s;
}