.add-work-container{
    background-color: rgb(41, 41, 41);
    width: 250px;
    height: 250px;
    border-radius: 20px;
    padding: 20px;
    margin-left: 25px;
    box-shadow: 2px 2px 0px 0px rgb(26, 26, 26);
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    
}
.section{
    margin: 10px;
}
.title{
    color: #56c9ff;
    margin: 5px;
}
.experience-submit-btn{
    width: 150px;
    height: 40px;
    background-color: rgb(41, 41, 41);
    color: #56c9ff;
    border-color: #56c9ff;
    font-size: 20px;
}
.experience-submit-btn:hover{
    background-color: #56c9ff;
    color: rgb(41, 41, 41);
    border-color: #56c9ff;

}
.label{
    color: azure;
}